# Build files
target/

# Test coverage
tarpaulin-report.html

# Generated .mgve files, so they aren't changed in every commit
*.mgve

# Testing fakeroot
test/fakeroot

# Testing repository
test/repo-test/repo
test/repo-test/test