/* Globals */

:root {
    --sidebar-width: 300px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
}

/* Themes */

.light {
    --bg: #071108;
    --fg: #d8ecf7;

    --sidebar-bg: #242424;
    --sidebar-fg: #d8ecf7;
    --sidebar-non-existant: #505254;
    --sidebar-active: #3f826d;
    --sidebar-spacer: #393939;

    --scrollbar: var(--sidebar-fg);

    --icons: #d8ecf7;
    --icons-hover: #b3c0cc;

    --links: #20609f;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --table-border-color: hsl(200, 7%, 13%);
    --table-header-bg: hsl(200, 7%, 28%);
    --table-alternate-bg: hsl(200, 7%, 11%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #b7b7b7;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #98a3ad;
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;
}
